<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Selenium Test Suite">
	<test name="Index Page Tests">
		<classes>
	    	<class name="automationFramework.IndexTest"/>
	    	<class name="automationFramework.LoginTest"/>
	    	<class name="automationFramework.BookFlightTest"/>
	   	</classes>
	</test>
</suite> <!-- Suite -->
